@import 'variables.scss';

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $fontfamily-base;
  line-height: $line-height;
  font-size: $fontsize-base;
  background-color: $background-color;
  font-weight: 700;
}

#wrapper {
  overflow: hidden;
  min-width: 375px;
  position: relative;
}

.py-section {
  padding: 50px 0;
  @media screen and (min-width: 567px) {
    padding: 100px 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $fontfamily-base;
  color: $white;
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
  @media screen and (min-width: 567px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
  color: $primary;
}

p {
  font-size: 1.25rem;
  color: $grey1;
  font-weight: 400;
}

a {
  font-family: $fontfamily-base;
  font-size: 1rem;
  font-weight: 700;
}

button {
  font-family: $fontfamily-sec;
  color: $white;
  background-color: $primary;
  border-radius: 6px;
  width: 13.75rem;
  height: 3rem;
  font-weight: 500;
}

//paragraph Second
.p-1 {
  font-size: 1rem;
  color: $grey1;
}

.p-2 {
  font-size: 0.75rem;
  color: $grey1;
}

//Header Second
.h-2,
.banner-p {
  color: $white;
}
.h-3 {
  color: $grey1;
}

//Banner

.banner {
  position: relative;
  max-height: 100vh;
}

.banner-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.banner-f {
  font-size: 0.75rem;
}

.plus-sign,
.highlight {
  color: $primary;
}

//Benefits
.benefitscol-2 {
  margin-top: 0; //120px
  @media screen and (min-width: 567px) {
    margin-top: 7.5rem; //120px
  }
}

//TOKENOMICS

.first,
.second {
  border-radius: 5px;
  width: 30.5rem;
  height: 2.5rem;
}
.first {
  background-color: $grey3;
}

.second {
  background-color: $grey4;
}

.card {
  background-color: $grey2;
}
.image-community {
  height: 3.125rem;
  width: 3.125rem;
  margin-top: 30px;
}

.qr__block {
  position: relative;
  &:hover {
    .qrcode__box {
      opacity: 1;
      z-index: 1000;
    }
  }
}
.qrcode__box {
  position: absolute;
  left: 50%;
  top: calc(100% + 10px);
  height: 150px;
  width: 150px;
  z-index: 100;
  padding: 10px;
  transform: translateX(-50%);
  background-color: $grey5;
  opacity: 0;
  z-index: -1000;
  transition: all 0.3s ease-in-out;
}
.ptr {
  cursor: pointer;
}

//shadow
.shadow-text {
  position: relative;
}

.shadow-text::before {
  content: attr(data-title);
  position: absolute;
  transform: scale(2);
  color: $background-color;
  text-shadow: 0px 0px 2px $grey5;
  z-index: -1;
}
