@import "variables.scss";

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $fontfamily-base;
  line-height: $line-height;
  font-size: $fontsize-base;
  background-color: $background-color;
  font-weight: 700;
}

#wrapper {
  overflow: hidden;
  min-width: 375px;
  position: relative;
}

.py-section {
  padding: 100px 0;
}

h1,
h2,
h3,
h4 {
  font-family: $fontfamily-base;
  color: $white;
  font-weight: 900;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
  color: $primary;
}

p {
  font-size: 1.25rem;
  color: $grey1;
  font-weight: 400;
}

a {
  font-family: $fontfamily-base;
  font-size: 1rem;
  font-weight: 700;
}

button {
  font-family: $fontfamily-sec;
  color: $white;
  background-color: $primary;
  border-radius: 6px;
  width: 13.75rem;
  height: 3rem;
  font-weight: 500;
}

//paragraph Second
.p-1 {
  font-size: 1rem;
  color: $grey1;
}

.p-2 {
  font-size: 0.75rem;
  color: $grey1;
}

//Header Second
.h-2,
.banner-p {
  color: $white;
}
.h-3 {
  color: $grey1;
}

//Banner

#particles-js {
  margin-top: -110px;
}

.banner {
  position: relative;
  max-width: 1000;
  max-height: 100vh;
}

.banner-content {
  position: absolute;
  max-width: 800;
  left: 49%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.banner-f {
  font-size: 0.75rem;
}

.plus-sign,
.highlight {
  color: $primary;
}

//Benefits
.benefitscol-2 {
  margin-top: 7.5rem; //120px
}

//TOKENOMICS

.first,
.second {
  border-radius: 5px;
  width: 30.5rem;
  height: 2.5rem;
}
.first {
  background-color: $grey3;
}

.second {
  background-color: $grey4;
}
//Community

.card {
  background-color: $grey2;
}
.image-community {
  height: 3.125rem;
  width: 3.125rem;
  margin-left: 3px;
  margin-top: 30px;
}

.qr_block {
  position: relative;
  display: inline-block;
}

.ptr {
  cursor: pointer;
}

.qr_box {
  height: 150px;
  width: 150px;
  border-radius: 0.2rem;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 20px rgb(0 0 0 / 10%);
}

//Hover

.qr_block:hover .qr_box {
  opacity: 1;
  top: -160px;
}

//shadow
.shadow-text {
  position: relative;
}

.shadow-text::before {
  content: attr(data-title);
  position: absolute;
  transform: scale(2);
  color: $background-color;
  text-shadow: 0px 0px 2px $grey5;
  z-index: -1;
}
